docs/ignore_docs/

MDK-ARM/ModbusRTU_Gateway/
MDK-ARM/*.uvguix.*
MDK-ARM/*.uvoptx

*.axf
*.map
*.htm
*.build_log.htm
*.crf
*.d
*.o
*.dep
*.lnp
*.list
*.scvd

.vscode/

.mxproject
*.ioc.backup

.DS_Store
Thumbs.db